[submodule "themes/hellofriend"]
	path = themes/hellofriend
	url = https://github.com/panr/hugo-theme-hello-friend/
[submodule "themes/hellofriendng"]
	path = themes/hellofriendng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng
